body {
	/*background-color: red;*/
	text-align: center;
	/*color: white;*/
	font-size: 40px;
	/*background-color: #ddd;*/
	padding: 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #7cacf9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: white;
      font-size: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-button {
	background-color: red;
	margin-top: 20px;
    	margin-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    	line-height: 40px;
    	height: 40px;
    	border: solid 1px white;
    	border-radius: 20px;
    	font-size: 20px;
    	text-align: center;
    	background-color:#2bb673;
    	color: white;
    	font-weight: 900px;

}
h1 {
	
	text-align: center;
}

h2 {
	text-align: center;
	padding-top: 20px;
}

/*class background-image*/

.background-image {
	background-repeat: no-repeat;
	background-size: cover;
	background: url(hero-summer-salads.jpg);
}

body {
	padding: 0;
}

.hidden {  
	display: none;
}

.js-food-results {
	display: inline-block;
	/*	width: 20%;*/


}

.js-map-results {
	width: 100%;
	height: 100vh;
	display: inline-block;
	/*background-color: grey;*/
}

.js-food-item {
	/*makes every thing vertical*/
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-bottom: 3em;
}

/*.js-food-item img {
	width: 100%;
	height: auto;
}
*/
.js-food-item h1 {
	font-size: .9em;
}

.js-food-item ul {
	font-size: .4em;
	text-align: left;

}


.recipes {
	color: #2bb673;

}
.recipes:hover {
	color:red;
}




#map {
	height: 100%;
	width: 100%;
	/*display: none;*/
}


/*restart button not working*/
/*.restart {
	text-align: center;
	font-size: 25px;
	background-color: white;

}*/
/*fail screen*/
.fail-screen {
	display: none;
}

.search-screen {
	background-color: #2bb673;
	color: white;
	border-radius: 10px;
	/*t r b l*/
	margin: 0 300px;
	font-weight: 900;
	/*padding: 1em 0;*/
}

.js-search-results {
	display: none;
}


.main-content {
	min-height:100vh;

}
/*search box*/
.js-query-search {
	padding-top: 5px;
	padding-left: 5px;
	border-radius: 100px;
	font-size: 25px;
	text-align: center;
	border: 2px solid white;
}

/*.js-submit  {
	padding: 10px;
	/*background-color: #2bb673;*/
   /* background-color: red;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 auto;*/
    /*  border: #000BFF;*/
    /*font-color: purple;*/
/*    border: 20px white;
    text-align: center;

    }*/
    /*submit button*/
    /*.js-submit*/

     button {
    	margin-top: 20px;
    	margin-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    	line-height: 40px;
    	height: 40px;
    	border: solid 1px white;
    	border-radius: 20px;
    	font-size: 20px;
    	text-align: center;
    	background-color:#2bb673;
    	color: white;
    	font-weight: 900px;

    }

    button:hover {
    	border-color: #2bb673;
    	background-color: white;
    	color: #2bb673;
    	font-weight: bold;
    	/*text-shadow: 1px 1px 2px black;*/
    }
/*search box*/

input[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}


/*Mobile Friendly*/
@media only screen and (max-width: 1000px) { 

	.search-screen {
		margin: 100px;

}
.search-screen h2 {
	font-size: 1em;


 }

}

@media only screen and (max-width: 600px) { 

	.search-screen {
		margin: 0;
}

.search-screen h2 {
	font-size: 0.7em;
	
 }

 }




  


























