body {
	/*background-color: red;*/
	text-align: center;
	/*color: white;*/
	font-size: 40px;
	background-color: #ddd;
}
/*us red background white text */
h1 {
	/*font-family: 'Vast Shadow', cursive;*/
	
	text-align: center;

}

h2 {
	text-align: center;

}

/*class background-image*/

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
	background: url(hero-summer-salads.jpg);
}

body {
	/*border: 2px solid black;*/
    padding: 25px;
}

.hidden {  
	display: none;
}

.js-food-results {
	display: inline-block;
/*	width: 20%;*/


}

.js-map-results {
	width: 100%;
	height: 100vh;
	display: inline-block;
	/*background-color: grey;*/
}

.js-food-item {
	/*makes every thing vertical*/
display: flex;
flex-direction: column;
background-color: white;
margin-bottom: 3em;
}

/*.js-food-item img {
	width: 100%;
	height: auto;
}
*/
.js-food-item h1 {
font-size: .9em;
}

.js-food-item ul {
	font-size: .4em;
	text-align: left;

}

#map {
	height: 100%;
	width: 100%;
	/*display: none;*/
}


/*restart button not working*/
.restart {
  text-align: center;
  font-size: 25px;
  background-color: white;
  color: #000BFF;

}
/*fail screen*/
.fail-screen {
	display: none;
}

.search-screen {
	/*background-color: rgb(245,245,245);*/
	background-color: #66d9ff;
	text-shadow: 3px 5px #87CEFA;
	/*width: 100%;*/
	/*position: absolute;*/
	/*left: 0;
	top: 0;*/
	/*bottom: 300px;*/
	border-radius: 100px;
	margin: 200px;
}

.js-search-results {
	display: none;
}


.main-content {
	min-height:100vh;
	   
}
